body {
  color: red;
}

h1 {
  color: brown;
}

.quote {
  color: purple;
}

.quote.narrator {
  color: pink;
}

#intro p {
  color: yellow;
}

.super-important-omg {
  font-size: 20px;
  background-color: yellow;
}
